/*  ================================================
    primary color classes 
    ================================================ */
    .MiniReel__closeBtn:hover,
    .playlist__item.playlist__item--current:hover,
    .player__playBtn:hover,
    .ballot__btn0:hover:before,
    .btnSecondary:hover {
        background-color:#03256E;
    }


    .titleBar__titleText:hover,
    .btnPrimary:hover .btn__label,
    .brandProfile__link:hover {
        color:#03256E;
    }


    .sponsorProfile__imgBox:hover,
    .textLink:hover,
    .displayAdBrand__link:hover .displayAdBrand__linkLabel {
        border-color:#03256E;
    }

    .recap__item:hover {
        border-left:3px solid #03256E;
    }



    .pager__btn:hover .pager__btnIconPath {
        fill:#03256E;
    }
