/*  ==========================================================================
    Theme Styles (#4394CB)
    ========================================================================== */
    a:hover {
        color:#277bbb;
    }
    .mr-pager__btn--disabled:hover,
    .mr-preview__button:hover,
    .mr-nav__btn:hover,
    .mr-preview__thumbnail:hover .mr-preview__button  {
        background: #277bbb;
    }
    .mr-card__btn-watch:hover {
        color:#277bbb;
    }

    .mr-pager__btn--disabled:hover .mr-pager__icon-path {
        fill:#277bbb;
    }
    .mr-pager__btn--disabled:hover .mr-pager__label {
        color:#277bbb;
    }