/*  ================================================
    primary color classes 
    ================================================ */
    .MiniReel__closeBtn:hover,
    .playlist__item.playlist__item--current:hover,
    .ballot__btn0:hover:before,
    .player__playBtn:hover,
    .btnSecondary:hover {
        background-color:#CC1100;
    }


    .titleBar__titleText:hover,
    .btnPrimary:hover .btn__label,
    .brandProfile__link:hover {
        color:#CC1100;
    }


    .sponsorProfile__imgBox:hover,
    .textLink:hover,
    .displayAdBrand__link:hover .displayAdBrand__linkLabel {
        border-color:#CC1100;
    }

    .recap__item:hover {
        border-left:3px solid #d94040;
    }



    .nav__btn:hover .nav__btnPath {
        fill:#CC1100;
    }