/*  ==========================================================================
    Theme Styles (#4394CB)
    ========================================================================== */
    a:hover {
        color:#0086C5;
    }
    .mr-pager__btn--disabled:hover,
    .mr-nav__btn:hover {
        background: #0086C5;
    }
