/*  ==========================================================================
    copy styles
    ========================================================================== */
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800);

    body, .mr-card__btn-watch {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }
    .tk--hdr, .ui-context__label {
        font-family: Georgia,"Times New Roman",Times,serif; font-weight:bold;
    }
    body, .ui-nav__counter, .mr-card__type, .mr-card__title-h1, 
    .mr-ballot__title, .mr-results__title {
        font-weight: 400;
    }


/*  ==========================================================================
    Theme Styles
    ========================================================================== */
    a {
        color:#09b1d8; border-bottom:1px dotted #09b1d8;
    }
    .mr-pager__btn,
    .mr-player__play-btn,
    .mr-pages__current-indicator,
    .mr-splash__copy,
    .mr-textCard__goBtn,
    .mr-textCard__goImg:after {
        background-color: #09b1d8;
    }
    .mr-pub-logo-box {
        background-image: url('../../img/theinertia--wide@2x.png'); 
        background-size: 150px 20px;
    }