/*  ==========================================================================
    Theme Styles (#4394CB)
    ========================================================================== */
    a:hover {
        color:#06758f; border-bottom: 1px solid #06758f
    }
    .mr-pager__btn--disabled:hover,
    .mr-nav__btn:hover {
        background: #09b1d8;
    }
