/*  ======================================================
    main styles
    ====================================================== */
    .c6mr2-600x500x6__group {
        width:600px; height:500px; 
    }

    .c6mr2-600x500x6__header {
        height:12px; width:100%;
        display: block;
    }
        .c6mr2-600x500x6__headerTitle {
            margin:0; 
            position:absolute; left:0;
            font-size:14px; font-weight:bold;
            line-height: 1;
        }

        .c6mr2-600x500x6__headerTag {
            margin:0; 
            position: absolute; right:0;
            font-size:12px; color:#838383;
            line-height: 1.25;
        }


/*  ======================================================
    article styles
    ====================================================== */
    .c6mr2-600x500x6__article {
        width:192px; height:232px;
        float:left;
        margin:12px 12px 0 0;
    }
        .c6mr2-600x500x6__article:nth-child(3),
        .c6mr2-600x500x6__article:nth-child(6) {
            margin:12px 0 0 0;
        }


    .c6mr2-600x500x6__imgBox {
        width:192px; height:156px; 
    }
        .c6mr2-600x500x6__img {
            width:192px; height:156px;
        }

        .c6mr2-playBtn--600x500x6 {
            width:44px; height:44px;
            top:54px; left:72px;
        }


    .c6mr2-600x500x6__articleCopy {
        width:192px; height:76px;
    }