/*  ================================================
    publisher branding classes 
    ================================================ */
    .titleBar__title {
        width:calc(100% - 10em);
    }
    .experience__group--brandedMR .titleBar__title {
        width:calc(100% - 14em);
    }
    .publisherProfile__logoBox {
        width:9.375em; height:1.5em;
        margin:0 1em 0 0;
        background: url('../../img/digitaljournal--wide.gif') 50% 50% / contain no-repeat;
        float:right;
        display:block;
    }




/*  ================================================
    typography classes 
    ================================================ */
    .tk--hdr {
        font-family:'Georgia', Times, serif;
    }
    .tk--action {
        font-family:'Georgia', Times, serif;
        font-weight:bold;
    }
    body, .tk--copy {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        color:#444;
    }



/*  ================================================
    primary action color classes 
    ================================================ */
    a {
        color:#CC1100;
    }
    

    .btnPrimary,
    .btnPrimary:active,
    .btnPrimary:focus,
    .pager__btn,
    .page__btn:before,
    .textOnly__imgBox:after,
    .ballot__result0 {
        background-color:#CC1100;
    }
    

    .btnPrimary,
    .btnPrimary:active,
    .btnPrimary:focus {
        border-color:#CC1100;
    }



/*  ================================================
    ballot secondary color classes 
    ================================================ */
    .ballot__result1,
    .ballot__btn1 {
        background:#1789cb;
    }
    .ballot__btn1 {
        border-color:#1789cb;
    }


/*  ================================================
    primary text color classes 
    ================================================ */
    .titleBar__titleText,
    .card__title,
    .ballot__title,
    .adSkip__message {
        color:#000;
    }