/*  ================================================
    primary color classes 
    ================================================ */
    .MiniReel__closeBtn:hover,
    .playlist__item.playlist__item--current:hover,
    .player__playBtn:hover,
    .ballot__btn0:hover:before,
    .btnSecondary:hover {
        background-color:#CC1100;
    }


    .titleBar__titleText:hover,
    .btnPrimary:hover .btn__label,
    .brandProfile__link:hover {
        color:#CC1100;
    }


    .sponsorProfile__imgBox:hover,
    .brandProfile__logoBox:hover,
    .textLink:hover,
    .displayAdBrand__link:hover .displayAdBrand__linkLabel {
        border-color:#CC1100;
    }

    .recap__item:hover {
        border-left:3px solid #d94040;
    }



    .pager__btn:hover .pager__btnIconPath {
        fill:#CC1100;
    }



/*  ================================================
    ballot secondary color classes 
    ================================================ */
    .ballot__btn1:hover:before {
        background-color:#1789cb;
    }
    .ballot__btn1:hover .ballot__btnLabel {
        color:#1789cb;
    }