/*  ==========================================================================
    copy styles
    ========================================================================== */

    body, .mr-card__btn-watch {
        font-family:helvetica, arial, sans-serif;
    }
    .tk--hdr, .ui-context__label {
        font-family:helvetica, arial, sans-serif; font-weight:bold;
    }
    body, .ui-nav__counter, .mr-card__type, .mr-card__title-h1, 
    .mr-ballot__title, .mr-results__title {
        font-weight: 400;
    }


/*  ==========================================================================
    Theme Styles
    ========================================================================== */
    a {
        color:#fa6a00; text-decoration:none;
    }
    .mr-preview__button {
        background: rgba(250,106,0,0.7);
    }
    .mr-pager__btn,
    .ui-nav__next, 
    .ui-nav__prev,
    .mr-player__play-btn,
    .mr-pages__current-indicator,
    .mr-splash__copy,
    .pages__current-indicator,
    .mr-textCard__goBtn,
    .mr-textCard__goImg:after {
        background-color:#fa6a00;
    }

    .mr-pager__btn--disabled .mr-pager__icon-path {
        fill:#fa6a00;
    }
    .mr-pager__btn--disabled .mr-pager__label {
        color:#fa6a00;
    }

    .mr-pub-logo-box {
        background-image: url('../../img/wired--wide@2x.gif');
        background-size:9.375rem 1.25rem;
    }

/*  ==========================================================================
    Splash Styles
    ========================================================================== */
    .mr-splash__group {
        padding:0 0 75% 0; 
        height:0; min-width:10rem;
    }