/*  ==========================================================================
    Theme Styles (#4394CB)
    ========================================================================== */
    a:hover {
        color:#06758f; border-bottom: 1px solid #06758f;
    }
    .mr-pager__btn--disabled:hover,
    .mr-preview__button:hover,
    .mr-nav__btn:hover,
    .mr-preview__thumbnail:hover .mr-preview__button  {
        background: #09b1d8;
    }
    .mr-card__btn-watch:hover {
        color:#09b1d8;
    }

    .mr-pager__btn--disabled:hover .mr-pager__icon-path {
        fill:#252626;
    }
    .mr-pager__btn--disabled:hover .mr-pager__label {
        color:#252626;
    }