/*  ================================================
    Common Splash Styles for theme
    ================================================ */
    .c6mr-hasHover:hover .c6mr-playBtn .c6mr-playIcon {
        fill:#0096ff;
    }

    .c6mr-splashImgOnly__start .c6mr-playBtn,
    .c6mr-splashTextOverlay__start .c6mr-playBtn,
    .c6mr-splashVerticalStack__start .c6mr-playBtn {
        background:rgba(0,150,255,0.75);
        -webkit-animation: c6-pulsate 1.5s infinite; /* Safari 4+ */
        animation:         c6-pulsate 1.5s infinite; /* IE 10+, Fx 29+ */
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        padding:9%; margin:-9% 0 0 -9%;
    }

        .c6mr-hasHover:hover .c6mr-playBtn {
            -webkit-animation: none; /* Safari 4+ */
            animation:         none; /* IE 10+, Fx 29+ */
        }

    @-webkit-keyframes c6-pulsate {
        0% { 
            background:rgba(0,150,255,0.25);
            -ms-transform: scale(1); /* IE 9 */
            -webkit-transform: scale(1); /* Chrome, Safari, Opera */
            transform: scale(1);
        }
        50% { 
            background:rgba(0,150,255,0.75); 
            -ms-transform: scale(1.2); /* IE 9 */
            -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
            transform: scale(1.2);
        }
        100% { 
            background:rgba(0,150,255,0.25);
            -ms-transform: scale(1); /* IE 9 */
            -webkit-transform: scale(1); /* Chrome, Safari, Opera */
            transform: scale(1);
        }
    }
    @keyframes c6-pulsate {
        0% { 
            background:rgba(0,150,255,0.25);
            -ms-transform: scale(1); /* IE 9 */
            -webkit-transform: scale(1); /* Chrome, Safari, Opera */
            transform: scale(1);
        }
        50% { 
            background:rgba(0,150,255,0.75); 
            -ms-transform: scale(1.2); /* IE 9 */
            -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
            transform: scale(1.2);
        }
        100% { 
            background:rgba(0,150,255,0.25);
            -ms-transform: scale(1); /* IE 9 */
            -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
            transform: scale(1);
        }
    }




    .c6mr-splashImgOnly__start .c6mr-playBtn2,
    .c6mr-splashTextOverlay__start .c6mr-playBtn2,
    .c6mr-splashVerticalStack__start .c6mr-playBtn2 {
        background:rgba(0,150,255,0.75);
        -webkit-animation: c6-pulsate2 2s infinite; /* Safari 4+ */
        animation:         c6-pulsate2 2s infinite; /* IE 10+, Fx 29+ */
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        padding:9%; margin:-9% 0 0 -9%;
    }

        .c6mr-hasHover:hover .c6mr-playBtn {
            -webkit-animation: none; /* Safari 4+ */
            animation:         none; /* IE 10+, Fx 29+ */
        }

    @-webkit-keyframes c6-pulsate2 {
        0% { 
            background:rgba(0,150,255,0.25);
        }
        50% { 
            background:rgba(0,150,255,0.75); 
        }
        100% { 
            background:rgba(0,150,255,0.25);
        }
    }
    @keyframes c6-pulsate2 {
        0% { 
            background:rgba(0,150,255,0.25);
        }
        50% { 
            background:rgba(0,150,255,0.75); 
        }
        100% { 
            background:rgba(0,150,255,0.25);
        }
    }


/*  ================================================
    Bottom Left Play button position
    ================================================ */
    .c6mr-splashImgOnly__start--1-1 .c6mr-playBtn,
    .c6mr-splashImgOnly__start--3-2 .c6mr-playBtn,
    .c6mr-splashImgOnly__start--6-5 .c6mr-playBtn,
    .c6mr-splashImgOnly__start--16-9 .c6mr-playBtn,
    .c6mr-splashVerticalStack__start--1-1 .c6mr-playBtn,
    .c6mr-splashVerticalStack__start--3-2 .c6mr-playBtn,
    .c6mr-splashVerticalStack__start--6-5 .c6mr-playBtn,
    .c6mr-splashVerticalStack__start--16-9 .c6mr-playBtn {
        bottom:0; left:0; top:auto; right:auto;
        margin:0 0 4% 4%;
    }


/*  ================================================
    Top Left Play button position
    ================================================ */
    .c6mr-splashTextOverlay__start--1-1 .c6mr-playBtn,
    .c6mr-splashTextOverlay__start--3-2 .c6mr-playBtn,
    .c6mr-splashTextOverlay__start--6-5 .c6mr-playBtn,
    .c6mr-splashTextOverlay__start--16-9 .c6mr-playBtn {
        top:0; left:0; right:auto; bottom:auto;
        margin:4% 0 0 4%;
    }


/*  ================================================
    Horizontal Stack
    ================================================ */
    .c6mr-splashHorizontalStack__start .c6mr-playBtn {
        background-color:rgba(0,150,255,0.75);
        border:2px solid #fff;
        width:1.5em; height:1.5em;
        left:0; top:auto; bottom:0;
        margin:0 0 0.5em 0.5em;
    }