/*  ================================================
    publisher branding classes 
    ================================================ */
    .titleBar__title {
        width:calc(100% - 10em);
    }
    .experience__group--brandedMR .titleBar__title {
        width:calc(100% - 14em);
    }
    .publisherProfile__logoBox {
        width:9.375em; height:1.5em;
        margin:0 1em 0 0;
        background: url('../../img/pixable--wide@2x.png') 50% 50% / contain no-repeat;
        float:right;
        display:block;
    }




/*  ================================================
    typography classes 
    ================================================ */
    @import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
    .tk--hdr {
        font-family:'Roboto Slab', 'Georgia', Times, serif;
    }
    body, .tk--copy {
        font-family: 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
        color:#444;
    }



/*  ================================================
    primary action color classes 
    ================================================ */
    a {
        color:#0096ff;
    }
    

    .btnPrimary,
    .btnPrimary:active,
    .btnPrimary:focus,
    .btnSecondary,
    .btnSecondary:active,
    .btnSecondary:focus,
    .playlist__item--current,
    .playlist__item--current:last-child {
        background-color:#0096ff;
    }
    

    .btnPrimary,
    .btnPrimary:active,
    .btnPrimary:focus,
    .playlist__item--current,
    .playlist__item--current:last-child,
    .slideNav__btn {
        border-color:#0096ff;
    }



/*  ================================================
    primary text color classes 
    ================================================ */
    .titleBar__titleText,
    .playlistHead__title,
    .playlist__title,
    .playlist__link,
    .playlist__item--current .playlist__sourceLink,
    .card__title, 
    .textOnly__title,
    .ballot__title {
        color:#000;
    }