.social__share {
    margin:1em 1em 0;
    width: calc(100% - 2em);

}

    .social__share li {
        width:100%;
        display:block;

    }

        .social__group--icon.social__group--share {
            display:block;
            width:100%;
            height:2.675rem;
            padding:0;
            margin:0;
            border-radius:4px;
            text-shadow:0 0 1px rgba(0,0,0,0.6);
            text-rendering: optimizeLegibility;
            font-size:1.75rem;
        }

            .social__group--share .socialIconFont {
                width:3.5em;
                height:1.25em;
                display:block;
                margin:0 auto;
                text-align:left;
            }

                .social__group--share .socialIconFont:before {
                    font-family:"fontello";
                    font-style:normal;
                    font-weight:normal;
                    font-size:0.625rem;
                    speak:none;
                    display:inline-block;
                    text-decoration:inherit;
                    width:1em;
                    margin:0.0625em 0.25em 0 0;
                    text-align:center;
                    color:#fff;
                }

                    .social__group--share .socialIconFont .social__label {
                        display:inline;
                        color:#fff;
                        font-family:'Roboto Condensed', Arial, Helvetica, sans-serif;
                        font-size:0.75em;
                        text-transform:uppercase;
                        margin:0 0 0 1.5em;
                        font-weight: 700;
                        line-height:1;
                        text-shadow: 0 1px 1px rgba(0,0,0,.44);
                    }

                        .social__group--share .socialIconFont:before {
                            font-size:1.125rem;
                        }

.cta__group {
    margin:0.5em 1em 1em;
}

    .cta__box {
        display:block;
        text-decoration:none;
        border:2px solid rgba(217,64,64,1);
        border-radius: 4px;
        background:#fff;
    }

        .sponsoredBtn {
            color:rgba(217,64,64,1);
            text-shadow:none;
        }


/*  ================================================
    media queries for landscape
    ================================================ */

    @media only screen and (orientation: landscape) {

        .card__group {
            bottom:0;
            margin:0;
        }

            .title__group {
                padding:0;
            }

                .title__group h1 {
                    position: absolute;
                    top: 0.75em;
                    bottom: inherit;
                    left: 2.625em;
                    font-size: 1.25em;
                }

            .video__group {
                width:60%;
                padding:0;
                position:absolute;
                top:4em;
                bottom:0;
                left:0;
            }

            .sidebar__group {
                width:40%;
                position: absolute;
                top:4em;
                bottom:3em;
                right:0;
                background:none;
            }

                    .sponsor__group {
                        width:100%;
                        height:auto;
                        float:none;
                        border:none;
                        position:relative;
                    }

                        .sponsor__logo {
                            float:left;
                            margin:0 0.75em 0.125em 0;
                        }

                            .sponsor__logo img {
                                border:1px solid #ddd;
                                width:2.5em;
                                height:2.5em;
                            }

                        .sponsor__label {
                            display:inline;
                            text-align:left;
                            color:#999;
                            font-size:0.75em;
                            margin:0.125em 0.25em 0 0;
                            font-family:"Open Sans", arial, helvetica, sans-serif;
                            float:left;
                        }

                        .sponsor__name {
                            display: inline;
                            font-family:"Open Sans", sans-serif;
                            font-size:0.75em;
                            color:#d94040;
                            float:left;
                            margin:0.125em 0 0;
                        }


                .social__group {
                    height:1.5em;
                    padding:0.75em;
                    border-bottom:0;
                    text-align:left;
                    border:1px solid #dedede;
                    border-left:0;
                    border-right:0;
                    background:#eee;
                }

                    .social__share {
                        margin: 0;
                        width: 6rem;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }

                        .social__group--icon.social__group--share {
                            font-size:1.25rem;
                        }

                        .socialIconFont {
                            width: 1.5em;
                            height: 1.5em;

                        }

                            .socialIconFont:before {
                                font-size:0.875rem;
                                top:0.375em;
                            }

                                .social__group--facebook .socialIconFont:before {
                                    margin:0.0625em 0 0;
                                }

                                .social__group--pinterest .socialIconFont:before {
                                    margin:0.0625em 0 0;
                                }

                                .social__group--vimeo .socialIconFont:before {
                                    font-size:0.75rem;
                                    margin:0.125em 0 0;
                                }

                                .social__group--share .socialIconFont:before {
                                    font-size:0.75rem;
                                }

                                .social__group--instagram .socialIconFont:before {
                                    left:0.3125em;
                                }

                    .social__media li {
                        margin:0 0.5625em 0 0;
                    }

                    .social__media li:last-child {
                        margin:0;
                    }


                .description__group {
                    width:100%;
                    position:absolute;
                    top:3.125em;
                    bottom:0;
                    overflow-y:auto;
                }

                    .description__container {
                        padding:1em;
                    }

            .cta__group {
                margin:0;
                position:absolute;
                bottom:0.75em;
                left:calc(60% + 0.75em);
                right:0.75em;
                font-size:0.75rem;
            }


                .cta__box {
                    border:0;
                    border-radius: 4px;
                    background:rgba(217,64,64,1);
                }

                    .sponsoredBtn {
                        padding:0.5em;
                        color:#fff;
                        text-shadow:0 1px 1px rgba(0,0,0,.44);
                    }

    }

    @media only screen and (orientation: landscape) and (max-width:570px) {

        .cta__group {
            font-size:0.625rem;
        }

            .social__group {
                height: 1.25em;
            }


                .sponsoredBtn {
                    padding:0.75em 0.25em;
                }

                .social__share {
                    width: 5rem;
                }

                .social__media li {
                    margin:0 0.4375em 0 0;
                }

                .socialIconFont {
                    width: 1.25em;
                    height: 1.25em;
                }

                    .socialIconFont:before {
                        font-size:0.75rem;
                        top:0.3125em;
                        left:0.3125em;
                    }

                        .social__group--facebook .socialIconFont:before {
                            margin:0.0625em 0 0;
                        }

                        .social__group--pinterest .socialIconFont:before {
                            margin:0.0625em 0 0;
                        }

                        .social__group--vimeo .socialIconFont:before {
                            font-size:0.625em;
                            margin:0.125em 0 0;
                            left:0.4375em;
                        }

                        
                    .social__group--share .socialIconFont {
                        width:4em;
                    }

                        .social__group--icon.social__group--share {
                            font-size: 1.125rem;
                        }

    }

    @media only screen and (orientation: landscape) and (max-width:515px) {
        .title__group h1 {
            font-size:1.125em;
            top:1em;
            left:2.9375em; 
        }

        .cta__group {
            font-size:0.5625rem;
        }

    }