/*  ==========================================================================
    Theme Styles (#4394CB)
    ========================================================================== */
    a:hover {
        color:#569; border-bottom: none;
    }
    .mr-pager__btn--disabled:hover,
    .mr-nav__btn:hover {
        background: #cc1100;
    }
