/*  ==========================================================================
    copy styles
    ========================================================================== */
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800);

    body, .mr-card__btn-watch {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }
    .tk--hdr, .ui-context__label {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-weight:700;
    }
    body, .ui-nav__counter, .mr-card__type, .mr-card__title-h1, 
    .mr-ballot__title, .mr-results__title {
        font-weight: 400;
    }


/*  ==========================================================================
    Theme Styles
    ========================================================================== */
    a {
        color:#569; border-bottom:1px dotted #569;
    }
    .mr-pager__btn,
    .mr-player__play-btn,
    .mr-pages__current-indicator,
    .mr-splash__copy,
    .mr-textCard__goBtn,
    .mr-textCard__goImg:after {
        background-color: #cc1100;
    }
    .mr-pub-logo-box {
        background-image: url(../../img/digitaljournal_logo.gif); 
        background-size: 150px 20px;
    }