/*  ================================================
    publisher branding classes 
    - external stylesheet for when publisher logos are needed
    ================================================ */
    .titleBar__title {
        width:calc(100% - 10em);
    }
    .experience__group--brandedMR .titleBar__title {
        width:calc(100% - 14em);
    }
    .publisherProfile__logoBox {
        width:9.375em; height:1.5em;
        margin:0 1em 0 0;
        background: url('../../img/digitaljournal--wide.gif') 50% 50% / cover no-repeat;
        float:right;
        display:block;
    }