/*  ==========================================================================
    Theme Styles (#4394CB)
    ========================================================================== */
    a:hover {
        color:#E46100; border-bottom: 1px solid #E46100;
    }
    .mr-pager__btn--disabled:hover,
    .mr-nav__btn:hover {
        background: #fa6a00;
    }
